extends layout

block mainContent
  .card-container
    if (session.isAdmin)
      h1 Actions
      a(href='/initData')= __('Initialize data')
      span= ' ' + __('Reads data from videos.json and puts it into the redis DB.')
      span= ' ' + __('Also re-initializes all controllers')
    else
      h1= __('You are not authorized to see this page')

  if (session.isAdmin)
    .card-container
      h1= __('Server Statistics')
      p= __('Last server instance reset: ') + serverRunningSince + __(' ago')

    .card-container
      h1= __('User Statistics')
      p= __('These statistics are only tracked for logged on users')

      p=  __('User count: ') + stats.userCount
      p=  __('Lessons Completed: ') + stats.slugsCompletedCount
      p=  __('Completed per user: ') + stats.completedPerUser.toFixed(2)
      p=  __('Linked Bugzilla accounts: ') + stats.bugzillaAccountCount
      p=  __('Display names filled: ') + stats.displayNameCount
      p=  __('Websites filled: ') + stats.websiteCount
      p=  __('Days since last joined: ') + daysSinceLastJoined

    .card-container
      h1= __('Lessons completed by user')

      p= __('These statistics are only tracked for logged on users')
      ul
        each user in users
          li
            if user.info.website
              a(href=user.info.website)= user.toString()
              span= ': ' + user.slugsCompleted.length + __(' completed')
            else
              span= user.toString() + ': ' + user.slugsCompleted.length + __(' completed')

    .card-container
      h1= __('Lessons completed by lesson')

      p= __('These statistics are only tracked for logged on users')
      ul
        each lesson in stats.slugsCompletedSorted
          li
            if lesson.type == 'video'
              a(href='/video/' + lesson.slug)= lesson.title
            else
              a(href='/exercise/' + lesson.slug)= lesson.title
            span= ': ' +  lesson.count + __(' completed')
