extends layout

block mainContent
  .card-container
    h1= exercise.title

    if exercise.description.length > 0
      p.exercise-description !{exercise.description.replace(/\n/g, '<br/>')}

    h2= __('Perform the following tasks in JavaScript:')
    ul#whitelist
      each assertion in exercise.assertions
        if !assertion.blacklist
          li(id= assertion.slug)
            i(class='fa fa-times')
            span= ' ' + assertion.title + '.  '
            span.bad= __('Not yet completed')
    h2 Without performing these tasks:
    ul#blacklist
      each assertion in exercise.assertions
        if assertion.blacklist
          li(id= assertion.slug)
            i(class='fa fa-check')
            span= ' ' + assertion.title + '.  '
            span.good= __('So far so good.')
      li#no-syntax-errors
        i(class='fa fa-check')
        span= __('Do not have any syntax errors.')
        span.good= __('So far so good.')

    pre#code
    p
    // Useful for debugging only:
    //a#check-syntax(href='#') Check Syntax

    if exercise.tags.length > 0
      #tags
        span Tags:
          each tag in exercise.tags
            .tag
              a(href='/tagged/' + tag, rel='tag')= tag

    br

    if exercise.links.length > 0
      #links
        div Resources:
        ul
          each link in exercise.links
            li: a(href= link.url)= link.title

  .card-container
    div#comment-content

block extraHead
  script.
    var exerciseSlug ="#{exercise.slug}";
    var lessonSlug ="#{exercise.slug}";
    require(['exercise'], function(exercise) {
      this.beginParse = exercise.beginParse;
      $.getScript('/exercise/' + lessonSlug + '?jsonp=beginParse', function(){
      });
    });
