extends layout

block mainContent
  .card-container
    h1= exercise.title

    p.exercise-description !{exercise.description.replace(/\n/g, '<br/>')}

    h2 Perform the following tasks in JavaScript:
    ul#whitelist
      each assertion in exercise.assertions
        if !assertion.blacklist
          li(id= assertion.slug)
            i(class='fa fa-times')
            span= ' ' + assertion.title + '.  '
            span.bad Not yet completed
    h2 Without performing these tasks:
    ul#blacklist
      each assertion in exercise.assertions
        if assertion.blacklist
          li(id= assertion.slug)
            i(class='fa fa-check')
            span= ' ' + assertion.title + '.  '
            span.good So far so good.

    pre#code
    p
    // Useful for debugging only:
    //a#check-syntax(href='#') Check Syntax

block extraScripts
  script.
    var exerciseSlug ="#{exercise.slug}"
  script(src='/static/js/ace/ace.js', type='text/javascript', charset='utf-8')
  script(src='/static/js/exercise.js', type='text/javascript', charset='utf-8')
