extends layout

block header
  #legend
    ul
      if session.email
        li
          #watched-legend-item.legend-item
          span= videoSlugsWatched.length
          |  Completed
      li
        #unwatched-legend-item.legend-item
        span= stats.available - videoSlugsWatched.length
        |  Available
      li
        #unavailable-legend-item.legend-item
        span= stats.unavailable
        |  Coming Soon

block mainContent
  each category in categories
    .card-container
      a(name= category.slug)
      h1= category.title
      ul.videos
        each video in category.videos
          if video.type == 'video'
            li.video
              if video.youtubeid
                a(name= category.slug + '/' + video.slug)
                a(href= '/video/' + video.slug, name= video.slug)
                  if videoSlugsWatched.indexOf(video.slug) != -1
                    span.completed= video.title
                  else
                    span= video.title
              else
                span= video.title
          else
            li.exercise
              if video.assertions
                a(name= category.slug + '/' + video.slug)
                a(href= '/exercise/' + video.slug, name= video.slug)
                  if videoSlugsWatched.indexOf(video.slug) != -1
                    span.completed= video.title
                  else
                    span= video.title
              else
                span= video.title


