extends layout

block mainContent
  script.
    var email = '#{session.email}';
    var emailHash = '#{emailHash}';
  script(src='/static/js/userinfo.js', type='text/jsx')

  .card-container
      div#user-info(email=session.email)

  .card-container
    h1 User Statistics
    p= 'Logged in as: ' + session.email + (session.isAdmin ? ' (Administrator)' : '')
 
    if (loginCount != 1)
      p= 'Logged in ' + (loginCount || 0) + ' times'
    else
      p Logged in 1 time
    p= 'Date joined: ' + info.dateJoined + ' ago'
    p= 'Date last logged in: ' + info.dateLastLogin + ' ago'
    //p= 'Last logged in IP: ' + info.lastLoginIP

  .card-container
    h1 Lessons Completed
    if videoSlugsWatched.length == 0
      p none
    else
      ul.videos
        each category in categories
          each video in category.videos
            if videoSlugsWatched.indexOf(video.slug) != -1
              if !video.type || video.type == 'video'
                li.video
                  a(href= '/video/' + video.slug, name= video.slug)
                    span.completed= video.title
              else
                li.exercise
                  a(href= '/exercise/' + video.slug, name= video.slug)
                    span.completed= video.title

    if session.isAdmin
      p
        a#del-stats(href="#") Delete stats data for your account
