extends layout

// Code to detect when the video is complete
block extraScripts

block mainContent
  .card-container
    h1= video.title
    p= video.description
    script.
      var youtubeid='#{video.youtubeid}';
      var videoSlug='#{videoSlug}';
      var lessonSlug='#{videoSlug}';
      var useAmara = #{useAmara};
      var email = '#{session.email}';
      var isAdmin = #{session.isAdmin}

    script(src='http://fb.me/react-0.8.0.js')
    script(src='http://fb.me/JSXTransformer-0.8.0.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js')
    script(src='/static/js/video.js')

    if useAmara
      script(type='text/javascript', src='http://s3.amazonaws.com/s3.www.universalsubtitles.org/embed.js')
        (
          {
            video_url: 'http://www.youtube.com/watch?v=' + youtubeid,
            video_config: {
               width: 900,
               height: 506
            }
          }
        )
    else
      #player

    #video-bottom-toolbar
      if video.tags.length > 0
        #tags
          span Tags:
          ul
            each tag in video.tags
              li
                a(href='/tagged/' + tag, rel='tag')= tag

      #subnav
        ul
          li: a(href= video.shareUrl)
            img(src='/static/img/share-this-page.png')
          li: a(href='/')
            img(src='/static/img/back-to-videos.png')

    .clear

    if video.links.length > 0
      #links
        div Resources:
        ul
          each link in video.links
            li: a(href= link.url)= link.title

    p(style='margin-top:30px;')
    if (!useAmara)
      a#subtitles(href='#') Turn on translated subtitles<br>
    else
      a#no-subtitles(href='#') Turn off translated subtitles<br>

    p(style='margin-top:30px;')
    a(href='https://github.com/bbondy/codefirefox/issues/new') Outdated info?<br>
    | Find something that is outdated? Please report it!

    p(style='margin-top:30px;')
    a(href='http://www.youtube.com/html5') Want HTML5 video?<br>
    | If enabled, HTML5 video may be lower quality, possibly not in 1080p

  .card-container
    div#comment-content
      script(type='text/jsx', src='/static/js/gravatar.js').
      script(type='text/jsx', src='/static/js/comment.js').

